@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light dark; }
* { box-sizing: border-box; }
body { margin: 0; font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, 'Noto Sans', 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji'; }
.container { @apply max-w-3xl mx-auto my-8 px-4; }
h1, h2 { @apply font-semibold; }
pre { @apply bg-neutral-100 dark:bg-neutral-800 p-4 rounded-lg overflow-auto; }
